header {
    background: url(./img/backround.jpg) no-repeat center / cover;
    height: 100vh;
}


.pro-1 {
    margin-left: 48px;
}

.pro {

    color: white;
}

.amg {
    color: white !important;
}

.header-text {
    text-align: center;
    margin-top: 241px;
}

.header-text h1 {
    color: white;
    font-size: 40px;
    margin-right: 80px;

}

.header-text p {
    color: white;
    margin: auto;
    max-width: 600px;

}


.seeall {
    background-color: #795724cc;
    height: 52px;
    width: 200px;
    border-radius: 5px;
    margin-top: 14px;

}

.row {
    justify-content: space-between;
}

.menu-1 {
    display: flex;
    text-decoration: none;
    margin-top: 9px;

}


section .menu-1 ul li a {
    color: black;
}

.seeall h1 {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    margin: 20px 0px;

}

.women {
    margin: 0px 80px 0px;

}

section .menu-1 ul li {
    list-style: none;
}

section .menu-1 ul li a:hover {
    text-decoration: none;
}

.menu {
    background: rgba(163, 156, 156, 0.911);

}

.menu3 {
    display: flex;
    font-size: 10px;
    margin-top: 88px;
}


.bor {
    width: 996px !important;
    border: 1px solid rgba(163, 156, 156, 0.911);
    ;
    margin: auto;
    background: rgba(163, 156, 156, 0.911);

}


.image1 {
    width: 308px;
    height: 379px;
     border : #aa9b77   ; 
    border-radius: 2%;
    display: block;
    justify-content: space-between;
    align-self: center;
    display: flex;
    flex-direction: column;
    background: #f5f6f7;
    transition: 0.5s;
}
.image1:hover{
    border: 1px solid #aa9b77  ;
}

.image1 .img1 {
    align-items: center;
}

.img1 {
    display: flex;
    align-items: center;
}

.img1 .livel {
    display: flex;
    margin: auto;


}

.row {
    justify-content: space-around;
    
}

.size h1{
    font-size: 18px;
    text-decoration: none;
}



.shirt{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.shim{
    margin: 0px 64px !important;
}
/* .bar {
    width: 996px;
    height: 3px;
    border: 1px solid rgba(163, 156, 156, 0.911) !important;
    ;
    margin: auto;
    background: rgba(163, 156, 156, 0.911);
} */

.shirt1{
    font-size: 24px;
    color: #beb49c;
}


.shop{
    display: flex;
    justify-content: space-between;
}

.kros{
    margin: 0px 64px;
}
h1 .shirt1{
    color: #beb49c;
}
.lor{

    width: 100%;
    height: 400px;
    background: #aa9b77;
    margin-top: 155px;
}
.abaut{
text-align: center;

}
.us{
    padding-top: 70px;
    color: #837659;
    
}
.lor1{
    padding-top: 87px;
    width: 496px;
    margin: auto;
   font-size: 14px;
}
.twit{
    width: 100%;
    height: 70px;
    background: #535253;
}
.twit1{
    display: flex;

}
.psd{
    text-align: center;
    margin-left: 23px;
}

   .foter{
    width: 100%;
    height: 349px;
    background: #424242;
  
  
 }


   .text1{
    width: 321px;
   }

   .trek{
    color: white;
   }
   .text2{
    text-decoration: none;


   }
   
   .foter1{
  display: flex;
    justify-content: space-between;
    margin: auto;

   }
   .list{
list-style: none;
display: flex;
color: white;
   }
.skop{
    width: 1px;
    height: 12px;
    margin: auto 6px;
    background-color: #837659;
}

.joy {
    color: white;
}


.joy a {
    color: white;
}
